<!DOCTYPE html>
<html>
<head>
  <title><%= t("name") %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61273324-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>
  <% if notice.present?  %>
    <div class="notice"><%= notice %></div>
  <% end %>
  <% if  alert.present? %>
    <div class="alert"><%= alert %></div>
  <% end %>

  <div class="header-menu clearfix">
    <div class="container">
      <h3 class="masthead-brand ptm"><%= link_to image_tag('logo.png'), root_path %></h3>
      <nav>
        <ul class="nav masthead-nav ptm">
          <li <%= params[:action] == 'index' ? 'class=active' : '' %>><a href="/">Home</a></li>
          <li <%= params[:action] == 'features' ? 'class=active' : '' %>><a href="/features">Login</a></li>
          <li <%= params[:action] == 'contact' ? 'class=active' : '' %>><a href="/contact">Sign up</a></li>
        </ul>
      </nav>
    </div>
  </div>


  <div class="site-wrapper">

    <div class="site-wrapper-inner">
      <div class="cover-container">

        <%= yield %>
        
        <div class="clearfix"></div>
        <div class="mastfoot">
          <div class="inner">
            <p>by <a href="https://twitter.com/getpreloaded">@getpreloaded</a>.</p>
          </div>
        </div>

      </div>
    </div>
  </div>


</body>
</html>
